.cart {
  height: calc(70vh - 4rem);
  width: 100%;
  // border: 2px solid green;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .cart-left {

    margin-left: 3em;
  }

  .cart-right {
    margin-right: 3em;
  }

}



