// .cartCard {
//     width: 30em;
//     // border: 2px solid rgb(16, 16, 16);
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     gap: 1em;
//     padding: 0.5em;
//     margin-bottom: 1.5em;
//     box-shadow: -1px 0px 13px 1px rgba(0,0,0,0.77);
//     -webkit-box-shadow: -1px 0px 13px 1px rgba(0,0,0,0.77);
//     -moz-box-shadow: -1px 0px 13px 1px rgba(0,0,0,0.77);
//     .img-container{
//         height: 150px;
//         width: 130px;

//         img {
//             width: 100%;
//             height: 100%;
//             overflow: hidden;
//             position: relative;
//             object-fit: cover;
//         }
//     }

//     .details{
//         h3 {
//             font-size: 1.5rem;
//         }

        
//         p {
//             color: grey;
//             margin-top: 0.1em;
//             margin-bottom: 0.3em;
//         }


//         .cartCard-btn {
//             background-color: blue;
//             margin-right: 0.5em;
//             margin-top: 1em;
//             padding: 0.2em;
//             border: none;
//             color: white;
//         }
//     }

// }

.cartCard {
    width: 40em;
    // background-color: red;
    display: flex;
    align-items: center;
    padding: 1em;
    gap: 2em;
    margin-bottom: 2em;
    border-radius: 5px;
    box-shadow: -1px 0px 13px 1px rgba(0,0,0,0.77);
    -webkit-box-shadow: -1px 0px 13px 1px rgba(0,0,0,0.77);
    -moz-box-shadow: -1px 0px 13px 1px rgba(0,0,0,0.77);

        img {
            height: 190px;
            width: 160px;
            overflow: hidden;
            object-fit: cover;
            object-position: center;
        }

    .details {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        h3 {
            font-size: 1.8rem;
        }

        p {
           color: grey;
           font-size: 1rem;

        }

        .price {
            font-size: 1.1rem;
            margin-bottom: 0.5em;
        }

        .buttons {
            display: flex;
            gap: 10px;
        }

        .cartCard-btn{
            width: 14em;
            padding: 1em;
            background-color: #2879fe;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1em;
            cursor: pointer;
            border: none;
            font-weight: 500;
    
            &:hover {
                background-color: #004ac1;
            }
    
    }

}

}

@media only screen and (max-width: 700px){

    .cartCard {
        width: 350px;
        height: 400px;
        // background-color: red;
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 0;
    
        img {
            height: 190px;
            width: 160px;
            object-fit: cover;
            object-position: center;
        }
    
        .details {
            text-align: center;
            gap: 0.2em;

            h3 {
                padding: 5px;
            }

            p {
                margin-bottom: 5px;
            }

            .price {
                margin-bottom: 10px;
            }

            .cartCard-btn {
                width: 12.3em;
                font-size: 0.8rem;
                padding: 0.9em;
            }
        }
    }

}