.cartPage {
  margin: 3em 2em;

  h2 {
    font-size: 2rem;
    margin: 1em;
    text-align: center;
  }

  .cartPage-content {
    display: flex;
    align-items: flex-start;
    padding: 1em;
    justify-content: space-around;
    gap: 20px;
  }
}


@media only screen and (max-width: 1220px){
   .cartPage-content{
    flex-direction: column;
    align-items: center;

   }
}

