// @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins:ital,wght@0,400;0,500;0,800;1,700&display=swap');


// .navbar {
//   height: 5rem;
//   box-shadow: 0 0 0.625rem rgb(116, 114, 114);
//   top: 0;
//   z-index: 6;
//   position: sticky;
//   background-color: white;
//   cursor: pointer;

//   .wrapper {
//     min-height: 3em;
//     margin: 0 1.3em;
//     padding: 1em;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;

//     .item {
//       display: flex;
//       align-items: center;
//       font-size: 1.5rem;
//     }

//     .left {
//       display: flex;
//       align-items: center;
//       gap: 2em;
//     }

//     .center {
//       font-size: 2.5rem;
//       letter-spacing: 0.1em;
//       font-family: 'Bree Serif', serif;
//       font-weight: 600;
//     }

//     .right {
//       display: flex;
//       align-items: center;
//       gap: 2em;

//       .icons {
//         display: flex;
//         font-size: 1.8rem;
//         gap: 1.3em;
//         color: #777;
//         cursor: pointer;


//         .nav-icon-badge {
//           position: relative;
//         }

//         .badge-count {
//             font-size: 12px;
//             width: 20px;
//             height: 20px;
//             border-radius: 50px;
//             background-color: rgb(56, 146, 243);
//             color: white;
//             position:absolute;
//             right: -8px;
//             top: -8px;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//         }

//         // .icon-cart {
//         //   position: relative;
//         //   font-size: 1.6rem;
//         // }
        
//         //   .icon-cart span {
//         //     font-size: 12px;
//         //     width: 20px;
//         //     height: 20px;
//         //     border-radius: 50px;
//         //     background-color: rgb(56, 146, 243);
//         //     color: white;
//         //     position:absolute;
//         //     right: -10px;
//         //     top: -10px;
//         //     display: flex;
//         //     align-items: center;
//         //     justify-content: center;
//         //   }
        
//       }
//     }
//   }
// }

// @media only screen and (max-width: 670px) {
//   .navbar {
//     // background-color: red;
//     width: 100%;

//     .wrapper {
//       justify-content: flex-end;
//       gap: 2em;
    
//      .center {
//       margin-right: 1em;
//      }
  
//   }

//   .right {
//     // background-color: red;
//     display: flex;


//   }

//   .left {
//     display: none;
//   }

// }

// }


.nav-wrapper {
  position: relative;
  width: 100%;
  height: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 6;
  background-color: #ffffff;
  box-shadow: 0 0 0.625rem rgb(116, 114, 114);
  position: sticky;
  padding: 1em 3em;
  


  .left {
    font-size: 3rem;
    cursor: pointer;
  }


  .right {
    display: flex;

    .icons {
      display: flex;
      align-items: center;
      color: #83817f;
      font-size: 2rem;
      gap: 1.5em;
      cursor: pointer;

      .nav-icon-badge {
        position: relative;

        .badge-count {
            font-size: 12px;
            width: 22px;
            height: 22px;
            border-radius: 50px;
            background-color: rgb(56, 146, 243);
            color: white;
            position:absolute;
            right: -8px;
            top: -8px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
      }
    }
  }
}

@media (max-width:600px) {
  .nav-wrapper {
    height: 4em;

    .left {
      font-size: 1.7rem;

    }

    .right {
      

      .icons {
        font-size: 1.5rem;
        gap: 1.2em;
      }
    }
  }
}







 