.desk-footer {
  background-color: rgb(10, 10, 124);
  color: white;
  padding: 3.125rem 0;
  margin-top: auto;
}

ul {
  list-style: none;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 75rem;
  margin: 0 auto;


  .footer-section {
    flex-direction: column;
    

    .footer-heading {
      margin-bottom: 1rem;
    }

  }

  .about {
    width: 25%;
    text-align: center;
  }

  .contact, .links, .social {
    text-align: center;
  }

  .contact-list, .links-list{
    padding-left: 2rem;
  }

  .social {
    margin-left: 2.5rem;
  }


  .social-list{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
    
    .nav-icon {
      font-size: 2em;
    }
  }

}

.nav-icon:hover {
  color: rgb(52, 124, 10);
}



.desk-footer-bottom {
  max-width: 75rem;
  margin: 1.25rem auto 0;
  text-align: center;
  font-size: 1rem;
}



/* //----------------------------Mobile footer css---------------------------------// */
.mobile-footer {
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  color: white;
  background-color: blue;
  margin-top: auto;
}

.footer-header {
  font-size: 1.2rem;
  font-weight: 500;
}

.social-icons-container {
  margin: 1rem 0px;
  display: flex;
  gap: 15px;
}
.social-icons .social-icon {
  font-size: 1.6rem;
  color: white;
}
.social-icons .social-icon:hover {
  color: rgb(10, 10, 124);
}
.footer-bottom {
  font-size: 0.7rem;
  margin-bottom: 1.5rem;
}
.footer-logo {
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  .desk-footer {
    display: none;
  }
  .mobile-footer {
    display: flex;
  }
}
