.wishlistPage {
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // padding: auto; 
    // background-color: red;

    h2 {
    font-size: 2rem;
    margin: 1em 2em;
    display: flex;
    justify-content: center;
    }
  }

  @media only screen and (max-width: 900px) {
  //  .wishlistPage {
  //   margin: 3em 1em;
  //  }


  }