.products {
    margin: 1em;
    display: flex;
  
    .left {
      flex: 1;
      position: sticky;
      height: 100%;
      top: 5.5em;
      padding: 0.5em;
      text-align: left;
  
      .filterItem{
        margin: 1em;
        color: red($color: #000000);
  
        h2{
          font-weight: 400;
          font-size: 1.5rem;
          margin-bottom: 0.8em;
          gap: 1em;
        }
  
        .inputItem{
          margin-bottom: 10px;
          font-size: 1.2rem;
          label{
            margin-left: 1em;
          }
        }
      }
    }
    
    .right {
      flex: 3;
  
      .catImg{
        width: 100%;
        height: 18em;
        object-fit: cover;
        margin-bottom: 2em;
      }
    }
  }

  @media only screen and (max-width: 1000px) {
    .products {
       flex-direction: column;

       .left{
        top: 0;
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
       }
    }
  }

  @media only screen and (max-width: 800px){
    .left {
      .filterItem{
        margin: 0.5em;
        color: red($color: #000000);
  
        h2{
          font-weight: 400;
          font-size: 1.3rem;
          margin-bottom: 0.8em;
          gap: 1em;
        }
  
        .inputItem{
          margin-bottom: 10px;
          font-size: 1rem;
          label{
            margin-left: 0;
          }
        }
      }
    }
    
  }





  